<header class="header">
    <div class="burger" (click)="openSidebar()">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
    </div>

    <div class="header-info-wrapper">
        <a class="title-wrapper" routerLink="/" href="">
            <div class="title-container">
                <a class="title">ECommerceApp</a>
                <a class="underline"></a>
            </div>
        </a>
        <app-user-info></app-user-info>
    </div>
    
</header>