.table-page-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.table-page {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
}
.table-header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.table-header-title {
    background-color: var(--sidebar-item-color);
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    display: block;
    font-weight: 700;
    color: white;
    font-size: var(--table-header-font-size);
    transition: var(--smooth-transition);
}
.table-header-title:hover {
    background-color: var(--sidebar-item-color-hover);
}
.table-header-add {
    background-color: var(--sidebar-item-color);
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    display: block;
    font-weight: 700;
    color: white;
    font-size: var(--table-header-font-size);
    transition: var(--smooth-transition);
}
.table-header-add:hover {
    background-color: var(--sidebar-item-color-hover);
}
.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: var(--sidebar-item-color);
    width: 100%;
    margin-bottom: 30px;
}
.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 10px 10px;
}
.table-row {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.table-row-header-item {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
}
.image-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--smooth-transition);
}
.image-wrapper:hover {
    background-color: var(--table-plus-color-hover);
}
.image-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus {
    width: 30px;
    height: 30px;
}
.flex02 {
    flex: 0.2;
}
.flex01 {
    flex: 0.1;
}
.flex1 {
    flex: 1;
}
.flex5 {
    flex: 5;
}
.flex95 {
    flex: 95;
}
.border-left {
    border-left: 1px solid var(--secondary-color);
}
.border-right {
    border-right: 1px solid var(--secondary-color);
}
.border-top {
    border-top: 1px solid var(--secondary-color);
}
.border-bottom {
    border-bottom: 1px solid var(--secondary-color);
}
.border {
    border: 1px solid var(--secondary-color);
}
.table-row-item {
    box-sizing: border-box;
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    word-break: break-all;
}
.pagination-wrapper {
    width: 100%;
    flex: 1;
    padding: 10px 5px;
    box-sizing: border-box;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: var(--pagination-font-size);    
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    transition: var(--smooth-transition);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.arrow:hover {
    background-color: white;
    color: var(--primary-color);
}
.current-page {
    cursor: pointer;
    margin: 0 10px;
    color: white;
    text-decoration: underline;
}
.pages {
    margin: 0 10px;
    color: white;
    cursor: pointer;
}
.search-image-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-image {
    width: 30px;
    height: 30px;
}
.search-input-container {
    box-sizing: border-box;
    padding: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input-container app-input-search {
    width: 100%;
}
app-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: var(--smooth-transition);
}
.beforePopup {
    transform: scale(0);
    opacity: 0;
    z-index: 0;
}
.afterPopup {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
}
.shading {
    position: absolute;    
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: black;
    opacity: 0.7;
    left: 0;
}

.last-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions-container {
    display: flex;
    justify-content: end;
    align-items: center;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.action-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: var(--smooth-transition-fast);
    opacity: 0.5;
}
.action-img:hover {
    transform: scale(1.1);
    opacity: 1;
}
.opacity0 {
    opacity: 0;
}