<div class="table-page-wrapper">
    <div class="table-page">
        <div class="table-header-container">
            <a class="table-header-title">{{ tableName }}</a>
            <a class="table-header-add">Add+</a>
        </div> 
        <div class="table-wrapper">
             <app-input [placeholder]="'Search...'" [name]="'fieldName'"></app-input>
             <app-input-search [placeholder]="'Search...'" [name]="'fieldName'" [link]="''"></app-input-search>
        </div>
    </div>
</div>
