<div class="popup-wrapper">    
    <div class="popup-container"
        (keyup.enter)="popupServiceItem.clickFunction(popupServiceItem.inputBlockDTO, http, showMessage)"
        (keyup.enter)="popupInteraction()"
        (keyup.escape)="popupInteraction()">
        <div class="menu">
            <div class="title-container">
                <a class="title">{{ popupServiceItem.inputBlockDTO.title | firstToUpper }}</a>
            </div>
            <a class="close" (click)="popupInteraction()">
                <img class="close-img" src="../assets/icons/close.png">
            </a>            
        </div>
        <div class="popup-content-wrapper">
            <div class="popup-content">
                <ng-content></ng-content>
            </div>
        </div>
        <div class="menu">
            <a class="close flex1" (click)="popupServiceItem.clickFunction()" (click)="popupInteraction()">
                <img class="close-img" src="../assets/icons/accept.png">
            </a>
            <a class="close flex1" (click)="popupInteraction()">
                <img class="close-img" src="../assets/icons/close.png">
            </a>  
        </div>
    </div>    
</div>