app-content {
    position: relative;
}
app-popup {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
app-message-box {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    z-index: 3;
}
app-header {
    position: sticky;
    z-index: 5;
}
app-footer {
    position: sticky;
    z-index: 5;
}