.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5px;
    gap: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.name {
    font-weight: 600;
    font-size: var(--product-detail-page-product-name-font-size);
}
.price-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px 0 5px;
    width: 100%;
}
.base-price {
    font-size: var(--product-detail-page-product-base-price-font-size);
}
.price {
    font-size: var(--product-detail-page-product-price-font-size);
}
.discount {
    color: red;
}

app-button {
    width: 80%;
}