.input {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    font-size: var(--input-font-size);
    color: white;
}
.input::placeholder {
    font-style: italic;
}
.input:focus {
    outline: 3px solid var(--input-outline-color);
}
.ng-invalid {
    outline: 3px solid rgb(176, 0, 0);
}
.error {
    font-size: var(--error-font-size);
    color: rgb(176, 0, 0);
}