.input {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    font-size: var(--input-font-size);
    color: white;
}
.input::placeholder {
    font-style: italic;
}
.input:focus {
    outline: 3px solid var(--input-outline-color);
}