.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-color);
}
app-header-title {
    height: 100%;
}
app-header-user {
    height: 100%;
}