.sidebar-item-container {
    display: flex;
    flex-direction: column;
    margin: 2px 5px;
}
.sidebar-item {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 10px;    
    transition: var(--smooth-transition);
    cursor: pointer;
}
.straight-bottom-border {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--primary-color);
}
.sidebar-item-maximized {
    background-color: var(--sidebar-item-color);
}
.sidebar-item:hover {
    background-color: var(--sidebar-item-color-hover);
}
.sidebar-item:hover .icon-container {
    background-color: var(--sidebar-item-color-hover);
}
.icon-container {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--smooth-transition);
    background-color: var(--sidebar-item-color);
}
.icon {    
    height: 30px;
    width: 30px;
}
.sidebar-item-extended {
    flex: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-width: 0;
    transition: var(--smooth-transition);
}
.maximized {
    flex: 9;
    max-width: 500px;
    transition: var(--smooth-transition);
}
.sidebar-item-title {
    margin-left: 5px;
    font-weight: 600;
}
.arrow-container {
    position: relative;
    right: 5%;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow {
    position: absolute;    
    width: 20px;
    height: 20px;
    display: block;
    transition: var(--smooth-transition);
}
.top {
    transform: rotate(180deg);
}
.opacity0 {
    opacity: 0;
}
.opacity1 {
    opacity: 1;
}
.sidebar-sub-items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: var(--smooth-transition);
    background-color: var(--sidebar-item-color);
    margin: 0;
    border-radius: 0 0 10px 10px;
}
.collapsed {
    
}