<div class="product-page-wrapper">
    <div class="pathway-wrapper">
        <a class="pathway">{{pathway}}</a>
    </div>
    <div class="sorting-wrapper">
        <div class="sorting-option-wrapper" *ngFor="let sorting of sortings; let i = index" (click)="selectSorting(i)">
            <div class="sorting-option-text" [ngClass]="{'selected': sorting.isSelected}">{{sorting.name}}</div>
            <div class="underline" [ngClass]="{'underlined': sorting.isSelected}"></div>
        </div>
    </div>
    <div class="product-wrapper">
        <div class="filter-wrapper">
            <div class="price-filter">
                <input type="number" class="price border-left" placeholder="From" [ngModel]="filterSet.priceFilter.from">
                <input type="number" class="price border-left border-right" placeholder="To" [ngModel]="filterSet.priceFilter.to">
            </div>
            <div class="attribute-filter-container width100" *ngFor="let attributeSetFilter of filterSet.attributeSetFilters">
                <app-attribute-filter class="width100" *ngFor="let attributeFilter of attributeSetFilter.attributeFilters" [attributeFilter]="attributeFilter"></app-attribute-filter>
            </div>
            <a class="apply-button" (click)="getProducts()">
                Apply
            </a>
        </div>
        <div class="products-wrapper">

        </div>
    </div>
</div>