.login-wrapper {
    display: flex;
    flex-direction: column;
}
.login-container {
    position: relative;
    padding: 0 30px;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    transition: var(--smooth-transition);
}
.title {
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.login-container:hover {
    background-color: var(--sidebar-item-color);
}
.login-img {
    width: 30px;
    height: 30px;
}
.user-info {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 10px 0px #222222;
    transition: var(--smooth-transition);
    box-sizing: border-box;
    width: 100%;
    background-color: var(--header-color);
    display: flex;
    align-items: start;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: -1;
    opacity: 0;
}
.info-item {
    box-sizing: border-box;
    padding: 2px 5px;
    width: 100%;
}
.button {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    cursor: pointer;
    transition: var(--smooth-transition);
}
.button:hover {
    background-color: var(--sidebar-item-color);
}
.opacity1 {
    opacity: 1;
}
.z-index2 {
    z-index: 2;
}
