<div class="input-container">
    <div class="input-one-of-many" [ngClass]="{'opened': isOpened}" (click)="search()">
        <a class="title">{{title}}</a>
        <div class="arrow-container">
            <img class="arrow-image" [ngClass]="{'opacity0': isOpened, 'opacity1': !isOpened }" src="../assets/icons/arrow.png">
            <img class="arrow-image up" [ngClass]="{'opacity0': !isOpened, 'opacity1': isOpened }" src="../assets/icons/arrow.png">
        </div>
    </div>
    <div class="results-wrapper" *ngIf="isOpened">
        <div class="results-container">            
            <a class="result" *ngFor="let item of items; let i = index">
                <a class="result-item" [ngClass]="{'selected': item.isSelected }" (click)="select(item)">
                    {{i + 1}}. {{item.output()}}
                </a>
            </a>
        </div>
    </div>    
</div>