<div class="properties">
    <div class="attribute-set" *ngFor="let attributeSet of attributeSets">
        <a class="attribute-set-title">Properties set name: {{attributeSet.attributeSetName}}</a>
        <div class="attribute" *ngFor="let attribute of attributeSet.productAttributes">
            <a class="title">{{attribute.attributeName}}</a>
            <a class="dotter"><span>&#8203;</span></a>
            <a class="value" *ngIf="attribute.value != ''">{{ attribute.value + " " + attribute.measurement}}</a>
            <a class="value" *ngIf="attribute.value == ''"><i>not specified</i></a>
        </div>
    </div>
</div>